:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 59%);
  --clr-neutral-300: hsl(0, 0%, 59%, 0.35);
  --clr-neutral-400: hsl(227, 10%, 46%);
  --clr-neutral-500: hsl(229, 23%, 23%);
  --clr-neutral-800: hsla(229, 23%, 23%, 0.067);
  --clr-neutral-900: hsla(229, 23%, 23%, 0.133);
  --clr-primary: hsl(185, 75%, 39%);
}
